################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/GeoProject.Library/obj/Debug
/GeoProject.Library/bin/Debug
/GeoProject.Tester/bin/Debug
/GeoProject.Tester/obj/Debug
